{% extends 'index.html'%}
{% load bootstrap4 %}
{% block extra_head%}
{% block title_head%}{{object.title}}{% endblock title_head%}
{% endblock extra_head%}

{% block productdetail%}

<main class="mt-2 pt-2">
    
    <div class="container dark-grey-text mt-5 ml-50">
      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-2 mb-2">
             <img src="{{object.photo.url}}" alt="#">
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-10 mb-4">
          <!--Content-->
          <div class="p-4">
            <div class="mb-2">
                <h6>{{object.title}}</h6>
              <a href="{{object.author.get_absolute_url}}">
                <h6><span class="badge purple">{{ object.author }}</span></h6>
              </a>
            </div>
            <p class="lead label-primary mb-1">
              {% if object.discount_price %}
              Price
              <span class="mb-1">
                <del>${{ object.price }}</del>
              </span>
              <span class="badge label-primary mb-1">${{ object.discount_price }}</span>
              {% else %}
                <span >${{ object.price }}</span>
              {% endif %}
            </p>
            <a href="{{ object.get_add_to_cart_url }}" class="btn btn-primary text-light rounded">
              Add to cart
              <i class="fa fa-shopping-cart"></i>
            </a>
            <a href="{{ object.get_remove_from_cart_url }}" class="btn btn-danger text-light rounded">
              Remove from cart
            </a>
          </div>
          <!--Content-->
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
      <hr class="mt-1 mb-3"/>


      <!--Grid row-->
<div class="row d-flex  wow fadeIn">
        <!--Grid column-->
          <!--Content-->
          <div class="p-2">
                <h3 class="p-1">বিবরণ</h3>
               {% for obj in  object.category.all %}
              <p><h4><a href="{{obj.get_absolute_url}}">{{ object.display_category }}</a></h4> </p>
              {% endfor %}
              <p><h4><a href="{{object.publication.get_absolute_url}}">{{ object.publication }}</a></h4> </p>
              <p>Publish Date {{ object.published_date }} </p>
              <p>Language {{ object.language }}</p>
              <p>ISBN {{ object.isbn }} </p>
              
              <p class="lead font-weight-bold pb-2">Description</p>

            <p class="d-inline-block mr-2">{{ object.book_details|truncatechars:450}}</p>
            
          </div>
          <!--Content-->
        <!--Grid column-->

</div>
      <!--Grid row-->
      
      <!--Grid row-->
<div class="row wow fadeIn">
        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/11.jpg" class="img-fluid" alt="">
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/12.jpg" class="img-fluid" alt="">
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg" class="img-fluid" alt="">
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
</main>
{% block extra_js%}
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
{% endblock extra_js%}
{% endblock productdetail%}
