
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<div class="jumbotron">
  <h1 class="display-4">Hello, Sir!</h1>
  <p class="lead">We did not find the page, You are looking for.</p>
  <hr class="my-4">
  <p>Please check agnin and stay with us thanks.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'bookshop:index' %}" role="button">Back to home</a>
  </p>
</div>
</body>
</html>