{% extends 'index.html' %}

{% block errorhandler%}
<div class="jumbotron">
  <h3 class="p-0">Hello, Sir! {{request.user.username|title}}</h3>
  <p class="lead">We did not find the page, You are looking for.</p>
  <hr class="my-4">
    <p class="lead text-nowrap font-italic  p-5"><mark>Please check again and stay with us thanks.</mark></p>
  <p class="lead">
    <a class="btn btn-secondary btn-lg" href="{% url 'bookshop:index' %}" role="button">Back to home</a>
  </p>
</div>
{% endblock errorhandler%}
