{% load static%}
<header class="header shop">
		<!-- Topbar -->
		<div class="topbar">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-12 col-12">
						<!-- Top Left -->
						<div class="top-left">
							<ul class="list-main">
								<li><i class="ti-headphone-alt"></i>  +01967480204</li>
								<li><i class="ti-email"></i>support@mybookshop.com</li>
							</ul>
						</div>
						<!--/ End Top Left -->
					</div>
					<div class="col-lg-8 col-md-12 col-12">
						<!-- Top Right -->
						<div class="right-content">
							<ul class="list-main">
					
								<li><i class="ti-location-pin"></i> Store location</li>
								<li><i class="ti-alarm-clock"></i> <a href="#">Daily Deal</a></li>
								{% if request.user.is_authenticated %}
								<li><i class="ti-user"></i> <a href="#">My account</a></li>
								<li><i class="ti-user"></i> <a href="#">{{user.username}}</a></li>
								<li><i class="ti-power-off"></i><a href="{% url 'account_logout'%}">Logout</a></li>
								{% else %}
								<li><i class="ti-power-off"></i><a href="{% url 'account_login'%}">Login</a></li>
								<li><i class="ti-power-off"></i><a href="{% url 'account_signup'%}">Registration</a></li>
								{% endif %}
							</ul>
						</div>
						<!-- End Top Right -->
					</div>
				</div>
			</div>
		</div>
		<!-- End Topbar -->
		<div class="middle-inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 col-md-2 col-12">
						<!-- Logo -->
						<div class="logo">
							<a href="{% url 'bookshop:index' %}"><img src="{% static 'images/logo5.png' %}" alt="logo"></a>
						</div>
						<!--/ End Logo -->
						<!-- Search Form -->
						<div class="search-top">
							<div class="top-search"><a href="#0"><i class="ti-search"></i></a></div>
							<!-- Search Form -->
							<div class="search-top">
								<form class="search-form">
									<input type="text" placeholder="Search here..." name="search">
									<button value="search" type="submit"><i class="ti-search"></i></button>
								</form>
							</div>
							<!--/ End Search Form -->
						</div>
						<!--/ End Search Form -->
						<div class="mobile-nav"></div>
					</div>
					<div class="col-lg-8 col-md-7 col-12">
						<div class="search-bar-top">
							<div class="search-bar">
								<select>
									<option selected="selected">All Category</option>
									<option>watch</option>
									<option>mobile</option>
									<option>kid’s item</option>
								</select>
								<form>
									<input name="search" placeholder="Search Products Here....." type="search">
									<button class="btnn"><i class="ti-search"></i></button>
								</form>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-3 col-12">
						<div class="right-bar">
							<!-- Search Form -->
							<div class="sinlge-bar">
								<a href="#" class="single-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
							</div>
							<div class="sinlge-bar">
								<a href="#" class="single-icon"><i class="fa fa-user-circle-o"
										aria-hidden="true"></i></a>
							</div>
							<div class="sinlge-bar shopping">
								<a href="#" class="single-icon"><i class="ti-bag"></i> <span
										class="total-count">2</span></a>
								<!-- Shopping Item -->
								<div class="shopping-item">
									<div class="dropdown-cart-header">
										<span>2 Items</span>
										<a href="{% url 'bookshop:order-summary' %}">View Cart</a>
									</div>
									<ul class="shopping-list">
										<li>
											<a href="#" class="remove" title="Remove this item"><i
													class="fa fa-remove"></i></a>
											<a class="cart-img" href="#"><img src="https://via.placeholder.com/70x70"
													alt="#"></a>
											<h4><a href="#">Woman Ring</a></h4>
											<p class="quantity">1x - <span class="amount">$99.00</span></p>
										</li>
										<li>
											<a href="#" class="remove" title="Remove this item"><i
													class="fa fa-remove"></i></a>
											<a class="cart-img" href="#"><img src="https://via.placeholder.com/70x70"
													alt="#"></a>
											<h4><a href="#">Woman Necklace</a></h4>
											<p class="quantity">1x - <span class="amount">$35.00</span></p>
										</li>
									</ul>
									<div class="bottom">
										<div class="total">
											<span>Total</span>
											<span class="total-amount">$134.00</span>
										</div>
										<a href="checkout.html" class="btn animate">Checkout</a>
									</div>
								</div>
								<!--/ End Shopping Item -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Header Inner -->
		<div class="header-inner">
			<div class="cat-nav-head">
		<div class="row">
			<div class="col-lg-3">
				<div class="all-category">
					<h3 class="cat-heading"><i class="fa fa-bars" aria-hidden="true"></i>Categories</h3>
					<ul class="main-category">
						<li><a href="#"> সকল ক্যাটাগরী<i class="fa fa-angle-right" aria-hidden="true"></i></a>
							<ul class="mega-menu">
								{% for category in all_category%}
								<li class="single-menu">
									<div class="inner-link">
										<a href="{{category.get_absolute_url}}">{{category.name}}</a>
									</div>
								</li>
								{% endfor %}
							</ul>
						</li>
							<li class="main-mega"><a href="#"> লেখক <i class="fa fa-angle-right" aria-hidden="true"></i></a>
							<ul class="mega-menu">
								{% for author in all_author%}
								<li class="single-menu">
									<div class="inner-link">
										<a href="{{author.get_absolute_url}}">{{author.name}}</a>
									</div>
								</li>
								{% endfor %}
							</ul>
						</li>
						<li class="main-mega"><a href="#">প্রকাশনী <i class="fa fa-angle-right" aria-hidden="true"></i></a>
							<ul class="mega-menu">
									{% for publication in all_publication%}
								<li class="single-menu">
									<div class="inner-link">
										<a href="{{publication.get_absolute_url}}">{{publication.name}}</a>
									</div>
								</li>
								{% endfor %}
	
							</ul>
						</li>
				
					</ul>
				</div>
			</div>
			<div class="col-lg-9 col-12">
				<div class="menu-area">
					<!-- Main Menu -->
					<nav class="navbar navbar-expand-lg">
						<div class="navbar-collapse">
							<div class="nav-inner">
								<ul class="nav main-menu menu navbar-nav">
										<li class="active"><a href="{% url 'bookshop:index' %}">Home</a></li>
										<li><a href="#">Product</a></li>
										<li><a href="#">Service</a></li>
										<li><a href="#">Shop<i class="ti-angle-down"></i><span class="new">New</span></a>
											<ul class="dropdown">
												<li><a href="shop-grid.html">Shop Grid</a></li>
												<li><a href="cart.html">Cart</a></li>
												<li><a href="checkout.html">Checkout</a></li>
											</ul>
										</li>
										<li><a href="#">Pages</a></li>
										<li><a href="#">Blog<i class="ti-angle-down"></i></a>
											<ul class="dropdown">
												<li><a href="blog-single-sidebar.html">Blog Single Sidebar</a></li>
											</ul>
										</li>
										<li><a href="contact.html">Contact Us</a></li>
									</ul>
							</div>
						</div>
					</nav>
					<!--/ End Main Menu -->
				</div>
			</div>
		</div>
	</div>
		</div>
		<!--/ End Header Inner -->
	</header>